@page "/organization/company"

<h3>Company</h3>
<MudStack AlignItems="AlignItems.Center">
	<h1>Hierarchical Tree Structure</h1>
	<MudNavMenu class="nav">
		<ul>
			<li>
				<MudNavGroup Title="President Director" Style="background-color:blue;" @bind-Expanded=_expanded>
				<MudCard Style="align-items:center;">
					<MudCardHeader Style="height:150px;">
						<MudAvatar Style="width:150px;height:180px;">
							<MudImage Src="_content/MudBlazorProject.Shared/image/Solid.png"></MudImage>
						</MudAvatar>
					</MudCardHeader>
						<MudCardContent Style="background-color:transparent;padding-top:-150px;height:150px;width:100px;">
							<MudBadge Class="border-1" Content="0" Overlap="false">
								<MudIcon Icon="@Icons.Material.Filled.People" Color="Color.Primary" />
							</MudBadge>
							<MudBadge Class="border-1" Content="3" Overlap="false">
								<MudIcon Icon="@Icons.Material.Filled.PeopleOutline" Color="Color.Default" />
							</MudBadge>
						</MudCardContent>
					<MudCardActions>
						<MudText>Jhon Elly</MudText>
						<MudSpacer/>
						<MudText Color="Color.Dark">Inventory Manager</MudText>
					</MudCardActions>
				</MudCard>
				</MudNavGroup>
				<ul>
					<li>
						<MudNavGroup Title="Lab" Style="background-color:blue;text-align:center;" @bind-Expanded=_expanded>
						<MudCard Style="align-items:center;">
							<MudCardHeader Style="background-color:dodgerblue;height:auto;">
								<MudText Align="Align.Center">Name</MudText>
							</MudCardHeader>
							<MudCardContent>
								<MudAvatar>
									<MudImage Src="_content/MudBlazorProject.Shared/image/OIP.jpg"></MudImage>
								</MudAvatar>
								<MudText>Description</MudText>
							</MudCardContent>
						</MudCard>
						</MudNavGroup>
						<ul>
							<li>
								<a href="#">Code</a>
								<ul>
									<li>
										<a href="#">Html</a>
										<ul>
											<li>
												<a href="#">Css</a>
												<ul>
													<li>
														<a href="#">Jquery</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Graph</a>
								<ul>
									<li>
										<a href="#">Image</a>
										<ul>
											<li>
												<a href="#">Design</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Blog</a>
						<ul>
							<li>
								<a href="#">Category</a>
								<ul>
									<li>
										<a href="#">Code</a>
									</li>
									<li>
										<a href="#">Graph</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">About</a>
						<ul>
							<li>
								<a href="#">Vcard</a>

							</li>
							<li>
								<a href="#">Map</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</MudNavMenu>
</MudStack>

@code {
	private bool _expanded = false;

}
