@page "/organization/company"

<h3>Company</h3>
<MudStack AlignItems="AlignItems.Center">
	<h1>Hierarchical Tree Structure</h1>
	<MudNavMenu class="nav" Style="align-content:center;text-align:center">
		<ul>
			<li>
				<nav class="nav-group" style="background-color:dodgerblue;text-align:center;">
					<label class="control-label">President Directore</label>
					<div class="card" style="background-color:transparent;text-align:center;">
						<div class="card-header">
							<div class="avatar">
								<img src="~/_content/MudBlazorProject.Shared/image/Solid.png" />
							</div>
						</div>
						<MudCardContent Style="background-color:transparent;padding-top:-150px;width:auto;border:solid;border-radius:2em / 5em;">
							<MudBadge Style="background-color:transparent;" Class="border-1" Content="0" Overlap="false">
								<MudIcon Icon="@Icons.Material.Filled.Person" Color="Color.Primary" />
							</MudBadge>
							<MudBadge Style="background-color:transparent;" Class="border-1" Content="3" Overlap="false">
								<MudIcon Icon="fas fa-users" Color="Color.Default" />
							</MudBadge>
						</MudCardContent>
						<div class="card-footer">
							<MudText Class="pa-2" Align="Align.Center">Jhon Elly</MudText>
							<MudText Align="Align.Center" Color="Color.Dark">Inventory Manager</MudText>
						</div>
					</div>
				</nav>

		@* 		<MudNavGroup Title="President Director" Style="background-color:dodgerblue;text-align:center;" @bind-Expanded=_expanded>
				<MudCard Style="align-items:center;border-radius:revert-layer;width:250px">
						<MudCardHeader Style="background-color:transparent;height:150px;">
						<MudAvatar Style="width:150px;height:180px;">
							<MudImage Src="_content/MudBlazorProject.Shared/image/Solid.png"></MudImage>
						</MudAvatar>
					</MudCardHeader>
						<MudCardContent Style="background-color:transparent;padding-top:-150px;width:auto;border:solid;border-radius:2em / 5em;">
							<MudBadge Style="background-color:transparent;" Class="border-1" Content="0" Overlap="false">
								<MudIcon Icon="@Icons.Material.Filled.Person" Color="Color.Primary" />
							</MudBadge>
							<MudBadge Style="background-color:transparent;" Class="border-1" Content="3" Overlap="false">
								<MudIcon Icon="fas fa-users" Color="Color.Default" />
							</MudBadge>
						</MudCardContent>
						<div class="col-md-2">
							<MudText Class="pa-2" Align="Align.Center">Jhon Elly</MudText>
							<MudText Align="Align.Center" Color="Color.Dark">Inventory Manager</MudText>
						</div>
				</MudCard>
				</MudNavGroup> *@
				<ul>
					<li>
						<MudNavGroup Title="Lab" Style="background-color:dodgerblue;text-align:center;" @bind-Expanded=_expanded>
						<MudCard Style="align-items:center;">
							<MudCardHeader Style="background-color:dodgerblue;height:auto;">
								<MudText Align="Align.Center">Name</MudText>
							</MudCardHeader>
							<MudCardContent>
								<MudAvatar>
									<MudImage Src="_content/MudBlazorProject.Shared/image/OIP.jpg"></MudImage>
								</MudAvatar>
								<MudText>Description</MudText>
							</MudCardContent>
						</MudCard>
						</MudNavGroup>
						<ul>
							<li>
								<a href="#">Code</a>
								<ul>
									<li>
										<a href="#">Html</a>
										<ul>
											<li>
												<a href="#">Css</a>
												<ul>
													<li>
														<a href="#">Jquery</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Graph</a>
								<ul>
									<li>
										<a href="#">Image</a>
										<ul>
											<li>
												<a href="#">Design</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Blog</a>
						<ul>
							<li>
								<a href="#">Category</a>
								<ul>
									<li>
										<a href="#">Code</a>
									</li>
									<li>
										<a href="#">Graph</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">About</a>
						<ul>
							<li>
								<a href="#">Vcard</a>

							</li>
							<li>
								<a href="#">Map</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</MudNavMenu>
</MudStack>

@code {
	private bool _expanded = false;

}
