@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MudBlazorProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div> *@

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.OtherHouses"/>
    <MudNavLink onclick="(() => OpenMenu())" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate"/>
    <MudNavLink Href="/Weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CloudSync"/>
    <MudNavLink Href="/Organization/Structure" Match="NavLinkMatch.Prefix" Icon="@Icons.Custom.Brands.Awesome"/>
    <MudMenu TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.TopRight" Icon="far fa-building" Color="Color.Primary" AriaLabel="Open user menu">
        <MudMenuItem Href="/Organization/Structure">Organization Structure</MudMenuItem>
        <MudMenuItem Href="/Organization/Announcement">Announcement</MudMenuItem>
        <MudMenuItem Href="/Organization/Company">Company</MudMenuItem>
        <MudMenuItem Href="/Organization/CompanyPolicy">Company Policy</MudMenuItem>
    </MudMenu>
</MudNavMenu>


@code {
    private bool _drawerOpen = false;

    private void OpenMenu()
    {
        _drawerOpen = true;
    }
}